<div class="container mt-4 mb-4">
  <form #conversao action="">
    <div class="row">
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Moeda Origem</mat-label>
          <mat-select
            [(ngModel)]="initialCurrency"
            name="initialCurrency"
            required="true"
          >
            <mat-option *ngFor="let symbol of symbols" [value]="symbol.code">
              {{ symbol.code }} - {{ symbol.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Moeda Destino</mat-label>
          <mat-select
            [(ngModel)]="finalCurrency"
            name="finalCurrency"
            required="true"
          >
            <mat-option *ngFor="let symbol of symbols" [value]="symbol.code">
              {{ symbol.code }} - {{ symbol.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Valor</mat-label>
          <input
            type="number"
            matInput
            [(ngModel)]="value"
            name="valor"
            required="true"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-primary active" (click)="sendToConvert()">
        Converter
      </button>
    </div>
  </form>
</div>
<div *ngIf="showDiv" class="container">
  <div class="row">
    <p>Converteu {{ conversion.value }} de {{ conversion.from }}</p>
    <p>Para {{ conversion.to }}</p>
    <p>Resultado: {{ conversion.result }}</p>
    <p>Taxa de Conversão: {{ conversion.rate }}</p>
    <p>Data da Conversão: {{ conversion.date }}</p>
  </div>
  <button class="btn btn-outline-primary" (click)="clearConversion()">
    Limpar
  </button>
</div>
