<div class="container mt-4 mb-4">
  <form #convertForm="ngForm">
    <div class="row text-center">
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Moeda Origem</mat-label>
          <mat-select
            [(ngModel)]="initialCurrency"
            name="initialCurrency"
            required="true"
          >
            <mat-option>Nenhum</mat-option>
            <mat-option *ngFor="let symbol of symbols" [value]="symbol.code">
              {{ symbol.code }} - {{ symbol.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Moeda Destino</mat-label>
          <mat-select
            [(ngModel)]="finalCurrency"
            name="finalCurrency"
            required="true"
          >
            <mat-option>Nenhum</mat-option>
            <mat-option *ngFor="let symbol of symbols" [value]="symbol.code">
              {{ symbol.code }} - {{ symbol.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Valor</mat-label>
          <input
            class="right-align"
            type="number"
            matInput
            [(ngModel)]="value"
            name="valor"
            required="true"
            min="0.01"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button
        [disabled]="convertForm.invalid"
        class="btn btn-primary active"
        (click)="sendForm(initialCurrency, finalCurrency, value)"
      >
        Converter
      </button>
    </div>
  </form>
</div>
<div *ngIf="showDiv" class="container mb-4">
  <div class="text-center">
    <p c>
      {{ conversion.value | currency: " " }}
      <span class="fw-bold">{{ conversion.from }}</span> equivale a
      <span class="fw-bold">{{ conversion.result | currency: " " }}</span>
      do símbolo
      <span class="fw-bold">{{ conversion.to }}.</span>
    </p>
    <p class="fw-light text-muted fs-6">
      Taxa de conversão: {{ conversion.rate | number: "1.0-3" }}
    </p>
  </div>
  <div class="text-center">
    <button
      type="button"
      class="btn btn-small btn-outline-primary"
      (click)="clearConversion(convertForm)"
    >
      Limpar
    </button>
  </div>
</div>
