<div class="container mt-4">
  <div class="row align-items-center">
    <div class="col-lg-6">
      <div class="row">
        <h2 class="display-1">CONVERSOR DE MOEDAS</h2>
        <p class="mt-4">
          Aplicação desenvolvida com o propósito de exercitar o consumo de APIs
          utilizando o framework
          <img
            class="angular-icon"
            src="../assets/images/icons8-angularjs.svg"
            alt=""
          />Angular.
        </p>
        <p class="text-muted">
          API utilizada:
          <a
            class="link-primary"
            href="https://exchangerate.host/#/"
            target="_blank"
            >Exchangerate</a
          >
        </p>
      </div>
      <div class="row mt-4">
        <div class="col-6 pull-left">
          <a routerLink="">
            <button type="button" class="btn-lg btn-outline-primary">
              Converter moedas
            </button>
          </a>
        </div>
        <div class="col-6 text-center">
          <a routerLink="/listar-moedas">
            <button type="button" class="btn-lg btn-outline-primary">
              Listar moedas
            </button>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 d-flex justify-content-center">
      <img
        class="home-img"
        src="../assets/images/delesign-currency-exchange.svg"
        alt=""
      />
    </div>
  </div>
</div>
