<div class="container">
  <h1 class="mt-5">SOBRE</h1>
  <p class="mt-4">
    A presente aplicação foi desenvolvida com o propósito de exercitar o consumo
    de APIs utilizando o framework
    <img
      class="angular-icon"
      src="../assets/images/icons8-angularjs.svg"
      alt=""
    />Angular. O exercício equivale ao Desafio de número 4 do programa de
    <a class="link-primary" href="https://residencia.ed.dev.br/" target="blank"
      >Residência em Software (UNIRIO)</a
    >
    Front-End - TypeScript e Angular.
  </p>
  <small class="text-muted">
    API utilizada:
    <a class="link-primary" href="https://exchangerate.host/#/" target="_blank"
      >Exchangerate</a
    >
  </small>
</div>
