<div class="container">
  <h2 class="mt-5 mb-5">CONVERSOR</h2>
  <div class="row">
    <div class="col">
      <mat-tab-group mat-stretch-tabs class="mat-elevation-z4">
        <mat-tab label="Conversor">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
            non dolorem neque temporibus rerum, excepturi repellendus sed
            expedita quos unde voluptatum culpa pariatur? Ipsam asperiores
            voluptate, sed saepe reprehenderit excepturi?Lorem ipsum, dolor sit
            amet consectetur adipisicing elit. Architecto quod id impedit quidem
            delectus earum? Ipsum, cum vero quam ad possimus voluptate eos
            facilis nisi. Natus quisquam ipsum obcaecati magnam!Lorem
          </p>
        </mat-tab>
        <mat-tab label="Histórico">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
            non dolorem neque temporibus rerum, excepturi repellendus sed
            expedita quos unde voluptatum culpa pariatur? Ipsam asperiores
            voluptate, sed saepe reprehenderit excepturi?Lorem ipsum, dolor sit
            amet consectetur adipisicing elit. Architecto quod id impedit quidem
            delectus earum? Ipsum, cum vero quam ad possimus voluptate eos
            facilis nisi. Natus quisquam ipsum obcaecati magnam!Lorem
          </p>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
