<div class="container mt-3 mb-3">
  <div class="row align-items-center">
    <div class="col-lg-6">
      <div class="row">
        <h2 class="display-1 text-center">CONVERSOR DE MOEDAS</h2>
      </div>
      <div class="row mt-5 text-center g-4">
        <div class="col-md-6">
          <app-button-large
            [nomeBotao]="'Converter Moedas'"
            [routerLink]="'/conversor'"
            [classes]="['btn-lg', 'btn-primary']"
          ></app-button-large>
        </div>
        <div class="col-md-6">
          <app-button-large
            [nomeBotao]="'Listar Símbolos'"
            [routerLink]="'/listar-moedas'"
            [classes]="['btn-lg', 'btn-outline-primary']"
          ></app-button-large>
        </div>
      </div>
    </div>
    <div class="col-lg-6 d-flex justify-content-center">
      <img
        class="home-img img-fluid"
        src="../assets/images/delesign-currency-exchange.svg"
        alt=""
      />
    </div>
  </div>
</div>
