.alert-icon {
  color: #ff000093;
  vertical-align: middle;
  cursor: pointer;
}

.delete-icon:hover {
  cursor: pointer;
  color: #3f51b5;
}

.mat-row:hover {
  background-color: #3f51b521;
}

table {
  width: 100%;
}

img {
  max-height: 600px;
  max-width: 400px;
}

@media (max-width: 420px) {
  img {
    display: none;
  }
}
