html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a,
a:hover {
  text-decoration: none;
  color: currentColor;
}

.blue-snackbar {
  background: #ffff;
  color: #3f51b5;
}

.cdk-overlay-container {
  position: fixed;
  z-index: 10000;
}
